{% extends "layout.html" %}
{% block content %}

	<h1>Home Page</h1>
	<h2> Welcome to the Dartmouth blockchain!</h2>
	<p> This cyrptocurrency relies on YOU to run. All information on transactions is public, verifiable and instant!
		To send coin to another user, head to the transaction page and type their name and an amount. This coin is stored as a verified, pending transaction.
		For the reciever to get their coin a Dartcoin user must mine the block, cementing the coin into the blockchain ledger.
		As a reward, the miner will recieve a dartcoin reward.
	</p>
	<p> To start, every user is given 100 tokens. You can get more by mining or by recieving money in a transaction.
		Then
	</p>
{% endblock content %}
